.stickyTop{
  position: -webkit-sticky;
  position: sticky;
  margin: auto;
  text-align: center;
  color: white;
  background-color: black;
}

.title {
  background-color: #777;
  width: 100%;
  padding: 10px;
  text-align: center;
  color: white;
}

.leftBar {
  float: left;
  width: 30%;
  background-color: #C6C6C6;
  text-align: center;
}
.rightInfo {
	width: 70%;
	background-color: white;
}