* {
  box-sizing: border-box;
}

.stickyTop{
  position: -webkit-sticky;
  position: sticky;
  margin: auto;
  text-align: center;
  color: white;
  background-color: black;
}

.title {
  background-color: #777;
  width: 100%;
  padding: 10px;
  text-align: center;
  color: white;
}

.leftBar {
	width: 30%;
	border: 3px solid green;
}